header {
  width: 100%;
  padding: 15px 0 8px 0;
  background-color: #25303B;
  box-shadow: 0 2px 10px #cecece;
  position: fixed;
  top: 0;
  z-index: 500;
  }


.branding{
  background: url("../images/bg_logo.svg") no-repeat;
  width: 175px;
  height: 50px;
  float: left;
  display: block;
  text-indent: -999999em;
  
 }

nav{
  margin-top: 10px;
  float: right;
 }

nav ul{
  list-style-type: none;
  text-align: right;
  
 }

nav li{
  font-weight: 900;
  font-size: .6em;
  letter-spacing: .1em;
  text-transform: uppercase; 
  display: inline-block;
  padding-left: 20px;
  curser: pointer;
  color: white
 }

nav li a:link{
 color: white;
 text-decoration: none;
}

nav li a:visited{
 color: white;
 text-decoration: none;
}

nav li a:hover{
 color: #FDBF5A;
 text-decoration: none;
}

nav li a:active{
 color: #FDBF5A;
 text-decoration: none;
}

.subhead{
	text-align:center;
}

.blue-paragraph {
	color: #25303B;
}

.yellow-subhead {
	color: #FDBF5A; 
	text-align: center;
}

.about {
	margin-top: 70px; 
	text-align: justify;
}
 
.history{
	background: #25303b;
}
 

.legacy{
  background: white;
  text-align: justify;
}

.about,
.history, 
.legacy, 
.disography, 
.band,
.achivements,
.contact {
  margin-top: 70px;
  width: 100%;
  padding: 100px 0;
}

.achivements {
  width: 100%;
  float: left;
  padding: 100px 0;
  background-color: #25303B;
  margin-top: inherit;
  }


.boxgrid h3 {
  margin: 10px 10px 0 10px;
  color: #fff;
  font: 18pt Arial, sans-serif;
  letter-spacing: -1px;
  font-weight: bold;
}

.boxgrid {
  width: 300px;
  height: 260px;
  float: left;
  background: #161613;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}

.boxgrid img {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
}

.boxgrid p {
  padding: 0 10px;
  color: #fff;
  font-weight: bold;
  font: 14px 'Arial', sans-serif;
}  

.boxcaption {
  float:left;
  position: absolute;
  background: #25303B;
  height: 100px;
  width: 100%;
  opacity: .8;
  
}

.boxgrid a {
  color: #FDBF5A;
  text-decoration: none;
}

.captionfull .boxcaption {
  top: 260px;
  left: 0;
}

.caption .boxcaption {
  top: 220px;
  left: 0;
}



.album-caption {
color: white;
text-align: center;
}

.album-subhead{
	color:white;
	text-align: center;
}

.disography {
 Background: #25303b; 
}




.contact {
  width: 100%;
  float: left;
  padding: 100px 0;
  background: url(../images/bg_contact2.jpg) no-repeat;
  background-size: 1600px 700px;
  margin-top: inherit;
  }

.button {
	display: block;
	float: left;
}	

.button {
    background-color: #4C7093; 
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	border-radius: 35px; 
}

/** band section */


	






.band-subhead {
text-align: left;
color: #FDBF5A;

}

.band-caption {
text-align: justify;
color: #25303B; 
}



.contact-form {
	width: 460px;
	font-size: 0.9em;
	float: left;
	align: center;
	
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea,
.contact-form select {
	width: 100%;
	height: 35px;
	margin-bottom: 25px;
	padding: 5px 5px 5px 10px;
	font-size: 1.2em;
	line-height: 1.5;
	background: #FFFFFF;
	border: none;
	float: left;
}

.contact-form select {
	appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
}

.contact-form textarea {
	height: 190px;
	float: left;
}

.button {
	display: block;
	float: left;
}	
	
.contact-content {
	color:white;
	
}
.contact-form input.button {
	text-transform: uppercase;
	letter-spacing: 0.2em;
	text-indent: 0.2em;
	font-weight: 700;
	width: 125px;
	height: 40px;
	background: #054264;
	border: 1px solid #054264;
	color: #ffffff;
	border-radius: right;
	float: left; 
	
	
	
}	


footer {
  width: 100%;
  background-color: #FDBF5A;
  float: left;
  text-align: left;
  padding: 100px 0 0 0;
}

footer a:link {
  color: #25303B;
  text-decoration: none;
}
footer a:visited {
  color: #25303B;
  text-decoration: none;
}
footer a:hover {
  color: #25303B;
}
footer a:active {
  color: #25303B;
}
.footer-logo img {
  float: left;
  height: 161px;
  padding: 8px;
}
.footer-nav li {
  list-style-type: none;
  color: #25303B;
}
.footer-nav a:link {
  text-decoration: none;
  cursor: pointer;
}
.footer-nav ul li a:visted {
  color: #25303B;
  text-decoration: none;
  cursor: pointer;
}
.footer-nav ul li a:hover {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.footer-nav ul li a:active {
  color: #fff;
}
.social-icons li {
  list-style-type: none;
  display: inline-block;
  color: #25303B;
  padding-right: 10px;
}
.social-icons a:link {
  text-decoration: none;
  cursor: pointer;
}
.social-icons ul li a:visted {
  color: #25303B;
  text-decoration: none;
  cursor: pointer;
}
.social-icons ul li a:hover {
  color: #25303B;
  text-decoration: none;
  cursor: pointer;
}
.social-icons ul li a:active {
  color: #25303B;
}

.fa-facebook-square,
.fa-twitter-square,
.fa-instagram {
  color: #25303B;
  font-size: 1.9em;
}

.copyright {
  display:block;
  float: left;
  background-color: #25303B;
  text-align: center;
  width: 100%;
  color: #ffffff;
  padding: 25px 0;
  margin-top:100px;
}

.copyright a:link {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.copyright a:visted {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.copyright a:hover {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.copyright a:active {
  color: #ffffff;
}


/**
 * Note: I have omitted any vendor-prefixes for clarity.
 * Adding them is left as an exercise for the reader.
 */

.headroom {
  transition: -webkit-transform 10ms linear;
  transition: transform 10ms linear;
  transition: transform 10ms linear, -webkit-transform 10ms linear;
}

.headroom--pinned {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
	      
}

.headroom--unpinned {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}


.hero-slide {
  margin-bottom: 79px;
  width: 100%;
  float: left;
  box-shadow: 9px 2px 5px 2px rgba(0, 0, 0, 0.12);
}