header {
  width: 100%;
  padding: 15px 0 8px 0;
  background-color: #25303B;
  box-shadow: 0 2px 10px #cecece;
  position: fixed;
  top: 0;
  z-index: 500;
  }
.branding{
  background: url("../images/bg_logo.svg") no-repeat;
  width: 175px;
  height: 50px;
  float: left;
  display: block;
  text-indent: -999999em;
  
 }

nav{
  margin-top: 10px;
  float: right;
 }

nav ul{
  list-style-type: none;
  text-align: right;
  
 }

nav li{
  font-weight: 900;
  font-size: .6em;
  letter-spacing: .1em;
  text-transform: uppercase; 
  display: inline-block;
  padding-left: 20px;
  curser: pointer;
  color: white
 }

nav li a:link{
 color: white;
 text-decoration: none;
}

nav li a:visited{
 color: white;
 text-decoration: none;
}

nav li a:hover{
 color: #FDBF5A;
 text-decoration: none;
}

nav li a:active{
 color: #FDBF5A;
 text-decoration: none;
}

.subhead{
	text-align:center;
}

.blue-paragraph {
	color: #25303B;
}

.yellow-subhead {
	color: #FDBF5A; 
	text-align: center;
}

.about {
	margin-top: 70px; 
	text-align: justify;
}
 
 
 

.legacy{
  background: white;
  text-align: justify;
}

.about,
.history, 
.legacy, 
.disography, 
.band,
.achivements,
.contact {
  margin-top: 70px;
  width: 100%;
  padding: 100px 0;
}

.achivements {
  width: 100%;
  float: left;
  padding: 100px 0;
  background-color: #25303B;
  }


.boxgrid h3 {
  margin: 10px 10px 0 10px;
  color: #fff;
  font: 18pt Arial, sans-serif;
  letter-spacing: -1px;
  font-weight: bold;
}

.boxgrid {
  width: 300px;
  height: 260px;
  float: left;
  background: #161613;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}

.boxgrid img {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
}

.boxgrid p {
  padding: 0 10px;
  color: #FDBF5A;
  font-weight: bold;
  font: 10px 'Arial', sans-serif;
}  

.boxcaption {
  float:left;
  position: absolute;
  background: #25303B;
  height: 100px;
  width: 100%;
  opacity: .8;
  
}

.boxgrid a {
  color: #fff;
  text-decoration: none;
}

.captionfull .boxcaption {
  top: 260px;
  left: 0;
}

.caption .boxcaption {
  top: 220px;
  left: 0;
}

/** band section */



.band-subhead {
text-align: left;
color: #FDBF5A;

}

.band-caption {
text-align: justify;
color: #25303B; 
}


footer {
  width: 100%;
  background-color: #FDBF5A;
  float: left;
  text-align: left;
  padding: 100px 0 0 0;
}

footer a:link {
  color: #25303B;
  text-decoration: none;
}
footer a:visited {
  color: #25303B;
  text-decoration: none;
}
footer a:hover {
  color: #25303B;
}
footer a:active {
  color: #25303B;
}
.footer-logo img {
  float: left;
  height: 161px;
  padding: 8px;
}
.footer-nav li {
  list-style-type: none;
  color: #25303B;
}
.footer-nav a:link {
  text-decoration: none;
  cursor: pointer;
}
.footer-nav ul li a:visted {
  color: #25303B;
  text-decoration: none;
  cursor: pointer;
}
.footer-nav ul li a:hover {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.footer-nav ul li a:active {
  color: #fff;
}
.social-icons li {
  list-style-type: none;
  display: inline-block;
  color: #25303B;
  padding-right: 10px;
}
.social-icons a:link {
  text-decoration: none;
  cursor: pointer;
}
.social-icons ul li a:visted {
  color: #25303B;
  text-decoration: none;
  cursor: pointer;
}
.social-icons ul li a:hover {
  color: #25303B;
  text-decoration: none;
  cursor: pointer;
}
.social-icons ul li a:active {
  color: #25303B;
}

.fa-facebook-square,
.fa-twitter-square,
.fa-instagram {
  color: #25303B;
  font-size: 1.9em;
}

.copyright {
  display:block;
  float: left;
  background-color: #25303B;
  text-align: center;
  width: 100%;
  color: #ffffff;
  padding: 25px 0;
  margin-top:100px;
}

.copyright a:link {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.copyright a:visted {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.copyright a:hover {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.copyright a:active {
  color: #ffffff;
}
	
	
/**
 * Note: I have omitted any vendor-prefixes for clarity.
 * Adding them is left as an exercise for the reader.
 */

.headroom {
  transition: -webkit-transform 200ms linear;
  transition: transform 200ms linear;
  transition: transform 200ms linear, -webkit-transform 200ms linear;
}

.headroom--pinned {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.headroom--unpinned {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}